.worktrees/

node_modules
dist
out
.eslintcache
*.log*
*.heapsnapshot
*.heapprofile
.env
.vs/
bin/
obj/
*.suo
*.code-workspace

# Files
src/webhooks/INTEGRATION.md

# Rust
asm-core-rs/target/

# Rust tests
asm-core-rs/ping_test.txt
asm-core-rs/ping_out.txt

test_assets

# Base C#
asm-unity-addon/.vs/
asm-unity-addon/bin/
asm-unity-addon/obj/
asm-unity-addon/testData/
asm-unity-addon/logic/addons/*
test/*
asm-unity-addon-tests/*
*.txt
asm-private-key.json

# Other Solutions
asm-unity-prefab-builder-addon/
asm-unity-keygen/
release/*
asm-unity-editmode-tests/

# Local
local.slnx
/Local.Build.props