*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

textarea {
  white-space: revert;
}

html,
body,
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #181a1c;
  color: #bfc9d6;
  padding: 16px;
}

#app {
  height: calc(100vh - 2rem);
}

.app {
  height: 100%;
}

h1 {
  display: flex;
  flex-flow: column;
  font-size: 2rem;
  text-align: center;
}
