html,
body,
#app {
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-flow: column;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  gap: 16px;
  max-width: 100%;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #181a1c;
  color: #bfc9d6;
  padding: 16px;
}

#app {
  height: calc(100vh - 2rem);
}

.app {
  height: 100%;
}

h1 {
  display: flex;
  flex-flow: column;
  font-size: 2rem;
  text-align: center;
}

a {
  border-bottom: 1px solid transparent;
  color: var(--color--primary-a3);
  cursor: pointer;
  transition:
    border-color 0.25s,
    color 0.25s;

  &:hover {
    border-color: var(--color--primary-a4);
    color: var(--color--primary-a4);
  }
}

label {
  white-space: nowrap;
}
