html,
body,
#app {
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-flow: column;
  font-family: 'Manrope', Avenir, Helvetica, Arial, sans-serif;
  max-width: 100%;
  justify-content: center;
  letter-spacing: 0.04em;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #080a0c;
  color: var(--color--primary-a2);
  cursor: default;
  contain: layout style;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background:
      linear-gradient(27deg, #0a0c0e 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #0a0c0e 5px, transparent 5px) 10px 0px,
      linear-gradient(27deg, #0f1113 5px, transparent 5px) 0px 10px,
      linear-gradient(207deg, #0f1113 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #0d0f11 10px, transparent 10px),
      linear-gradient(
        #0e1012 25%,
        #0b0d0f 25%,
        #0b0d0f 50%,
        transparent 50%,
        transparent 75%,
        #111315 75%,
        #111315
      );
    background-size: 20px 20px;
    backface-visibility: hidden;
  }
}

#app {
  height: 100vh;
}

.app {
  height: 100%;
}

h1 {
  display: flex;
  flex-flow: column;
  font-size: 2rem;
  text-align: center;
}

a {
  border-bottom: 1px solid transparent;
  color: var(--color--primary-a3);
  cursor: pointer;
  transition:
    border-color 0.25s,
    color 0.25s;
  will-change: border-color, color;

  &:hover {
    border-color: var(--color--primary-a4);
    color: var(--color--primary-a4);
  }
}

label {
  white-space: nowrap;
}

* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: auto;
}

body,
#app {
  backface-visibility: hidden;
  transform: translateZ(0);
}
