@use '../scss/color.scss';

:root {
  --color--primary-a1: #{color.$color--primary-a1};
  --color--primary-a2: #{color.$color--primary-a2};
  --color--primary-a3: #{color.$color--primary-a3};
  --color--primary-a4: #{color.$color--primary-a4};
  --color--primary-a5: #{color.$color--primary-a5};
  --color--primary-a6: #{color.$color--primary-a6};
  --color--secondary-a1: #{color.$color--secondary-a1};
  --color--failed: #{color.$color--failed};
  --color--success: #{color.$color--success};
}
